@import "reset.css";
/* fonts variable  */
/* colors variable  */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media (max-width: 1920px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 1600px) {
  html {
    font-size: 0.66vw;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 0.694vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 1.302vw;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 2.083vw;
  }
}
@media (max-width: 360px) {
  html {
    font-size: 2.778vw;
  }
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a, span {
  display: inline-block;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.header__top {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding: 0.7rem 3.2rem;
}
.header__top a {
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  color: #158BE3;
}
.header__top a span {
  display: inline-block;
  width: 2rem;
  margin-right: 1rem;
}
.header__navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 1.4rem 3.2rem;
  background-color: transparent;
}
.header__navBar a.link-home {
  width: 19.7rem;
  height: 7.4rem;
  margin-right: 7.7rem;
  background: url(../images/img_logo_w.png) no-repeat;
  background-size: 100%;
}
.header__navBar.fixed_bg a.link-home, .header__navBar.relative_color a.link-home {
  background: url(../images/img_logo_color.png) no-repeat;
  background-size: 100%;
}
.header__navList {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.header__navLink a {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #fff;
  padding: 0 1.2rem;
  transition: all 0.25s linear;
}
.header__navLink a:hover,
.header__navLink a.active {
  color: #23BDFF;
}
.header__navBar.fixed_bg, .header__navBar.relative_color {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1.95px 2.6px;
}
.header__navBar.fixed_bg .header__navList a, .header__navBar.relative_color .header__navList a {
  color: #26262E;
}
.header__navBar.fixed_bg .header__navList a:hover, .header__navBar.fixed_bg .header__navList a.active, .header__navBar.relative_color .header__navList a:hover, .header__navBar.relative_color .header__navList a.active {
  color: #23BDFF;
}

#section01.bannerSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../images/img_slide_bnr_01.jpg) no-repeat;
  background-size: cover;
  position: relative;
  transition: all 0.25s linear;
}
#section01.bannerSection::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 2;
  opacity: 50%;
}
#section01.bannerSection .home-slick {
  width: 83%;
  z-index: 3;
}
#section01.bannerSection h2 {
  padding-right: 36%;
  font-family: "Poppins";
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 7.28rem;
  color: #fff;
  white-space: normal;
  margin-bottom: 4.8rem;
}
#section01.bannerSection p {
  padding-right: 36%;
  font-family: "Inter";
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.873rem;
  color: #fff;
  letter-spacing: 1px;
}
#section01.bannerSection .slick-slider {
  margin-bottom: 8.8rem;
}
#section01.bannerSection .custome-dots ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  z-index: 3;
  gap: 1.6rem;
}
#section01.bannerSection .custome-dots li.slick-active button {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: solid 1px #FAB03A;
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  color: #FAB03A;
  background-color: transparent;
}
#section01.bannerSection .custome-dots li button {
  font-size: 0;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: solid 1px #fff;
  padding: 0;
  transition: all 0.25s linear;
}

.section__inner {
  background-color: #f7fafc;
}
.section__inner.fixed-width {
  width: 120rem;
  margin: 0 auto;
}
.section__block {
  padding: 5.4rem 8.3vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}
.section__block .image-contain {
  width: 58.4rem;
  border-radius: 0 2rem 2rem 0;
  overflow: hidden;
  flex-shrink: 0;
}
.section__block h2 {
  font-family: "Poppins";
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 7.28rem;
  margin-bottom: 3.2rem;
}
.section__block p {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}
.section__block#rental {
  padding: 4.4vw 12rem 4.4vw 0;
  gap: 12rem;
}
.section__block#hoa {
  padding: 4.4vw 0 4.4vw 12rem;
  gap: 12rem;
}
.section__block#hoa .image-contain {
  border-radius: 2rem 0 0 2rem;
}
.section__block.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 6.4rem;
  padding-bottom: 12rem;
}
.section__block.contact h2.ttl {
  font-family: "Poppins";
  font-size: 4rem;
  font-weight: 600;
  line-height: 5.2rem;
  margin-bottom: 3.2rem;
}
.section__block.contact a {
  width: 39.5rem;
  font-family: "Poppins";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 6.3rem;
  border-radius: 0.8rem;
  background-color: #26262E;
  color: #FEFEFE;
  text-align: center;
  text-transform: uppercase;
}
.section__blockSlide {
  width: 100%;
  overflow-x: hidden;
}
.section__blockSlide .category-slide {
  width: 100%;
  padding: 0 6.38vw;
  margin-bottom: 5.325rem;
}
.section__blockSlide button img {
  width: 5.6rem;
  margin-bottom: 1.6rem;
}
.section__blockSlide .category-slide .slick-slide {
  width: 21.4rem;
}
.section__blockSlide .category-slide .slick-slide button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 2rem;
  background-color: transparent;
  border: none;
  width: 14.8vw;
  padding: 2.4rem 0;
}
.section__blockSlide .category-slide .slick-slide button.active {
  background-color: #ECF9FF;
  position: relative;
}
.section__blockSlide button.active::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 1.9rem solid transparent;
  border-right: 1.9rem solid transparent;
  border-bottom: 3rem solid #EAEAEA;
  position: absolute;
  bottom: -5.325rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.section__blockSlide button.active img {
  filter: brightness(0) saturate(100%) invert(44%) sepia(90%) saturate(2023%) hue-rotate(183deg) brightness(92%) contrast(94%);
}
.section__blockSlide button.active p {
  color: #158BE3;
}
.section__blockSlide button.slick-arrow.slick-disabled {
  display: none !important;
}
.section__blockSlide button.slick-arrow {
  background: url(../images/i_arrow_c.svg) no-repeat;
  background-size: 100%;
  width: 7.2rem;
  height: 7.2rem;
  font-size: 0;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.section__blockSlide button.slick-arrow.slick-prev {
  top: 50%;
  transform: rotate(180deg) translateY(50%);
  right: unset;
  left: 0;
  z-index: 2;
}
.section__blockSlide .slick-list {
  clip-path: inset(0 0 -100px 0);
  overflow: visible;
}
.section .slide-info {
  padding: 8.8rem 4rem 4rem;
  position: relative;
  border-radius: 1.6rem;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  display: none;
}
.section .slide-info button {
  position: absolute;
  background-color: transparent;
  padding: 0;
  border: none;
  top: 1.6rem;
  right: 4rem;
  cursor: pointer;
}
.section .slide-info button img {
  width: 3.2rem;
  height: 3.2rem;
}
.section .slide-info .image-contain {
  width: 48.5rem;
  height: 30rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.section .slide-info .image-contain img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.section .slide-info ul {
  margin-right: 4rem;
}
.section .slide-info ul li {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  list-style: disc;
  margin-left: 3rem;
}
.section .slide-info.active {
  display: flex;
}

.section02 {
  padding: 6.4rem 0;
  background-color: #f7fafc;
}
.section02__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 4rem;
  flex-wrap: wrap;
  padding-bottom: 6.9rem;
  border-bottom: solid 1px #d3d7e5;
}
.section02__contentBlock {
  width: calc(50% - 2rem);
}
.section02__contentBlock h2 {
  font-family: "Poppins";
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.16rem;
  margin-bottom: 3.2rem;
}
.section02__contentBlock .block-list li {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}
.section02__contentBlock .block-list li:first-child {
  margin-bottom: 3.2rem;
}
.section02__contentBlock .block-list li span {
  width: 4rem;
  margin-right: 1.6rem;
}
.section02__contentBlock .img-cover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.section02__contentBlock p {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.section02__contentBlock p span {
  font-weight: 700;
  display: inline;
}
.section02__links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 2.4rem;
  padding: 6.5rem 0;
}
.section02__links .block-link {
  position: relative;
}
.section02__links .block-link .img-cover {
  width: 38.4rem;
  height: 38.4rem;
  background: url(../images/img_link_01.png) no-repeat;
  background-size: auto 100%;
  border-radius: 1.5rem;
  margin-bottom: 2.4rem;
}
.section02__links .block-link:nth-child(2) .img-cover {
  background: url(../images/img_link_02.png) no-repeat;
  background-size: auto 100%;
}
.section02__links .block-link:nth-child(3) .img-cover {
  background: url(../images/img_link_03.jpg) no-repeat;
  background-size: auto 100%;
}
.section02__links h3 {
  font-family: "Poppins";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.12rem;
}
.section02__links a {
  position: absolute;
  right: 0rem;
  top: 29.1rem;
  padding: 2.1rem;
  padding-right: 0;
  background-color: #fff;
  border-radius: 50% 0 0 0;
  width: 7.2rem;
  height: 7.2rem;
}
.section02__links a::before {
  content: "";
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  position: absolute;
  bottom: 2.1rem;
  left: -3.9rem;
  mask-image: radial-gradient(circle at bottom left, transparent 60%, #fff 62%);
  -webkit-mask-image: radial-gradient(circle at bottom left, transparent 70%, #fff 75%);
  border-radius: 0;
  transform: rotate(90deg);
}
.section02__links a::after {
  content: "";
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  position: absolute;
  top: -4rem;
  right: -1px;
  mask-image: radial-gradient(circle at bottom left, transparent 60%, #fff 62%);
  -webkit-mask-image: radial-gradient(circle at bottom left, transparent 70%, #fff 75%);
  border-radius: 0;
  transform: rotate(90deg);
}

.section03 {
  background-color: #158BE3;
  padding: 9.5rem 9.8rem;
}
.section03__inner {
  background-color: #fff;
  border: solid 1px #D3D7E5;
  border-radius: 1.6rem;
  display: flex;
  align-items: censter;
  justify-content: space-between;
  flex-direction: row;
  padding: 5.6rem;
}
.section03__inner .img-cover {
  width: 32rem;
  margin-right: 5.6rem;
}
.section03__content {
  flex-grow: 1;
}
.section03__content h2 {
  font-family: "Poppins";
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.24rem;
  margin-bottom: 2.4rem;
}
.section03__content p {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
}
.section03__content a {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 4rem;
  padding: 0 2.4rem;
  color: #FEFEFE;
  border-radius: 0.8rem;
  background-color: #26262E;
}

.footer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  background-color: #F7FAFC;
}
.footer__block:nth-child(1) {
  flex-grow: 1;
  padding: 0 12rem;
  background-color: #fff;
}
.footer__block:nth-child(2) {
  width: 22.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 4rem;
  box-sizing: border-box;
}
.footer__mainContent {
  padding: 10rem 0 6.4rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  border-bottom: solid 1px #d3d7e5;
}
.footer__mainContent ul li {
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  margin-bottom: 1.6rem;
  color: #6E6F73;
  text-transform: capitalize;
}
.footer__mainContent ul li:first-child {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #0D1436;
}
.footer__mainContent ul li:last-child {
  margin-bottom: 0;
}
.footer__mainContent ul li a {
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #6E6F73;
  text-transform: capitalize;
}
.footer__mainContent ul:first-child {
  margin-right: 2.4rem;
  width: 28.5rem;
}
.footer__subContent {
  padding: 2.6rem 3.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.footer__subContent p {
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #696C80;
  margin-right: 12.8rem;
}
.footer__subContent > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #696C80;
  margin-right: 6.8rem;
}
.footer__subContent > a span {
  margin-right: 0.8rem;
}
.footer__subContent ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.footer__subContent ul li {
  margin-right: 4rem;
}
.footer__block:nth-child(2) h3 {
  font-family: "Poppins";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem;
  margin-bottom: 1.6rem;
}
.footer__block:nth-child(2) ul li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 1.9rem;
}
.footer__block:nth-child(2) ul li span:nth-child(1) {
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #6E6F73;
  margin-bottom: 1.6rem;
}
.footer__block:nth-child(2) ul li span:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.footer__block:nth-child(2) ul li span:nth-child(2) p {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.1rem;
  color: #26262E;
}
.footer__block:nth-child(2) ul li span:nth-child(2) i {
  width: 1.875rem;
  display: inline-block;
  margin-right: 1rem;
}

.section04 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../images/img_banner_02.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}
.section04::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 2;
  opacity: 50%;
}
.section04__inner {
  position: relative;
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section04 h2 {
  font-family: "Poppins";
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 7.28rem;
  color: #fff;
  margin-bottom: 1rem;
}
.section04 p {
  color: #fff;
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 6.6rem;
}
.section04 p.labelForForm {
  font-family: "Inter";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem;
  margin-bottom: 1rem;
}
.section04__search {
  width: 55%;
  position: relative;
}
.section04__search input {
  width: 100%;
  height: 6.8rem;
  border-radius: 0.8rem;
  border: none;
  padding: 0 8.4rem 0 1.6rem;
  box-sizing: border-box;
}
.section04__search input::placeholder, .section04__search ::-webkit-input-placeholder, .section04__search input {
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #6E6F73;
}
.section04__search button {
  position: absolute;
  right: 0;
  top: 0;
  width: 6.8rem;
  height: 6.8rem;
  background-color: #23BDFF;
  border: none;
  border-radius: 0 0.8rem 0.8rem 0;
}
.section04__search button img {
  width: 4rem;
  height: 4rem;
}

.section05 {
  background: url(../images/img_bg_ttl.jpg) no-repeat;
  background-size: cover;
  background-position: left center;
  position: relative;
  margin-top: 3.5rem;
}
.section05::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 2;
  opacity: 50%;
}
.section05__inner {
  padding: 14rem 0 6.7rem;
  position: relative;
  z-index: 3;
}
.section05__inner h1 {
  font-family: "Poppins";
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 7.28rem;
  color: #FEFEFE;
  text-align: center;
}

.section06__inner {
  padding: 0 20rem;
}
.section06__tabs {
  padding: 8rem 0;
}
.section06__tabs .c-tabs_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4.8rem;
  margin-bottom: 4.8rem;
}
.section06__tabs .c-tabs_nav button {
  font-family: "Poppins";
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 6.7rem;
  border: none;
  background-color: transparent;
  padding: 0 1.6rem;
  cursor: pointer;
  color: #6E6F73;
}
.section06__tabs .c-tabs_nav button.is-checked {
  color: #158BE3;
  border-bottom: solid 3px #158BE3;
}
.section06__tabs .c-tabs_panels .c-tabs_panel {
  display: none;
}
.section06__tabs .c-tabs_panels .c-tabs_panel.is-checked {
  display: block;
}
.section06__tabs .c-accordion .c-accordion_item {
  padding: 4rem 1.6rem;
  border-bottom: solid 1px #D3D7E5;
}
.section06__tabs .c-accordion .c-accordion_item summary {
  font-family: "Poppins";
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.64rem;
  color: #26262E;
  position: relative;
  list-style: none;
  cursor: pointer;
}
.section06__tabs .c-accordion .c-accordion_item details[open] summary {
  margin-bottom: 2.4rem;
}
.section06__tabs .c-accordion .c-accordion_item summary::-webkit-details-marker {
  display: none;
}
.section06__tabs .c-accordion .c-accordion_item summary::before {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 1.2rem;
  background: url(../images/i_arrow_d.png) no-repeat;
  background-size: 100%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s linear;
}
.section06__tabs .c-accordion .c-accordion_item details[open] summary::before {
  transform: rotate(180deg) translateY(50%);
}
.section06__tabs .c-accordion .c-accordion_item p {
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #57595B;
}
.section06__tabs .c-accordion .c-accordion_item p a {
  color: #57595B;
  text-decoration: underline;
}

.section07 {
  background: url(../images/img_bg_ttl_02.jpg) no-repeat;
  background-size: 100% auto;
  background-position: left center;
}
.section07 h1 {
  margin-bottom: 1rem;
}
.section07 p {
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  text-align: center;
  color: #FEFEFE;
}

.section08 {
  padding: 8rem 0;
}
.section08__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.section08 h3 {
  font-family: "Poppins";
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  color: #26262E;
  margin-bottom: 4.2rem;
  text-transform: uppercase;
}
.section08__blockStaffs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 4.8rem;
}
.section08__blockStaffs .staff {
  width: 38.4rem;
  position: relative;
}
.section08__blockStaffs .image-cover {
  width: 38.4rem;
  height: 38.4rem;
  background: url(../images/img_staff_01.png) no-repeat;
  background-size: auto 100%;
  background-position: center;
  border-radius: 1.5rem;
  margin-bottom: 2.4rem;
}
.section08__blockStaffs .staffName {
  font-family: "Poppins";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.12rem;
  padding-bottom: 1.2rem;
  border-bottom: solid 1px #6E6F73;
  margin-bottom: 1.2rem;
  color: #26262E;
}
.section08__blockStaffs .staffPos {
  font-family: "Poppins";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #26262E;
}
.section08__blockStaffs a {
  position: absolute;
  right: 0rem;
  top: 29.1rem;
  padding: 2.1rem;
  padding-right: 0;
  background-color: #fff;
  border-radius: 50% 0 0 0;
}
.section08__blockStaffs a::before {
  content: "";
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  position: absolute;
  bottom: 2.1rem;
  left: -4rem;
  mask-image: radial-gradient(circle at bottom left, transparent 60%, #fff 62%);
  -webkit-mask-image: radial-gradient(circle at bottom left, transparent 70%, #fff 75%);
  border-radius: 0;
  transform: rotate(90deg);
}
.section08__blockStaffs a::after {
  content: "";
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  position: absolute;
  top: -4rem;
  right: 0;
  mask-image: radial-gradient(circle at bottom left, transparent 60%, #fff 62%);
  -webkit-mask-image: radial-gradient(circle at bottom left, transparent 70%, #fff 75%);
  border-radius: 0;
  transform: rotate(90deg);
}

.section09 {
  margin-bottom: 8rem;
}
.section09__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section09 h3 {
  font-family: "Poppins";
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  color: #26262E;
  margin-bottom: 4.2rem;
  text-transform: uppercase;
}
.section09__values {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6.4rem 8rem;
}
.section09__values .value {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2.5rem 0;
}
.section09__values .image-contain {
  width: 8rem;
  height: 8rem;
  margin-bottom: 0.8rem;
}
.section09__values p {
  font-family: "Poppins";
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 3rem;
  color: #26262E;
  text-align: center;
}

.section10__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section10 h3 {
  font-family: "Poppins";
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  color: #26262E;
  margin-bottom: 4.2rem;
  text-transform: uppercase;
}
.section10__locations {
  width: 100%;
}
.section10 iframe {
  width: 100%;
  height: 50rem;
}

.section11 {
  padding: 8rem 12rem;
}
.section11__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8rem;
}
.section11__inner .image-contain {
  width: 50rem;
}
.section11__contactForm h2 {
  font-family: "Poppins";
  font-size: 4rem;
  font-weight: 600;
  line-height: 5.2rem;
  margin-bottom: 3.2rem;
}
.section11__contactForm h2 span {
  outline: none;
  border: none;
  filter: drop-shadow(0 0 0 transparent);
}
.section11__contactForm .c-form-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 5.6rem;
  margin-bottom: 4rem;
}
.section11__contactForm .c-form-group label {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin-bottom: 0.5rem;
}
.section11__contactForm .c-form-group input {
  height: 4.4rem;
  padding: 0 1.6rem;
  background-color: #EFEFEF;
  border: none;
  width: 28.4rem;
  box-sizing: border-box;
}
.section11__contactForm .c-form-group input::placeholder, .section11__contactForm .c-form-group input::-webkit-input-placeholder, .section11__contactForm .c-form-group input {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #73716E;
}
.section11__contactForm .c-form-group--textarea {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 3.2rem;
}
.section11__contactForm .c-form-group textarea {
  width: 62rem;
  border: none;
  background-color: #EFEFEF;
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #73716E;
  padding: 1.6rem;
}
.section11__contactForm .c-form-group--submit button {
  width: 100%;
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 4.5rem;
  text-transform: uppercase;
  border: none;
  background-color: #26262E;
  color: #FEFEFE;
  border-radius: 0.8rem;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .header__navList {
    position: fixed;
    left: 100%;
    top: 3.5rem;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 17.9rem);
    background-color: #fff;
    z-index: 4;
    padding: 7.2rem 0;
    transition: left 0.5s ease-in-out;
  }
  .header__navList.active {
    left: 0;
  }
  .header__navList a, .header__navList a.active {
    color: #26262E;
  }
  .header__hambuger {
    position: absolute;
    top: 50%;
    right: 2.4rem;
    transform: translateY(-50%);
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.7rem 0.4rem;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 5;
  }
  .header__hambuger .bar {
    width: 100%;
    border-bottom: 2px solid #FEFEFE;
    transition: all 0.25s linear;
  }
  .header__hambuger.change_color .bar {
    border-color: #26262E;
  }
  .header__hambuger.relative_color .bar {
    border-color: #26262E;
  }
  .header__hambuger.active .bar {
    border-color: #26262E;
  }
  .header__hambuger.active .bar:first-child {
    transform: translateY(1rem) rotate(45deg);
  }
  .header__hambuger.active .bar:last-child {
    transform: translateY(-1rem) rotate(-45deg);
  }
  .header__hambuger.active .bar:nth-child(2) {
    opacity: 0;
  }
  #services .header__navBar.relative_color {
    background-color: transparent;
    box-shadow: none;
  }
  #services .header__navBar.relative_color a.link-home {
    background: url(../images/img_logo_w.png) no-repeat;
    background-size: 100%;
  }
  .section__inner.fixed-width {
    width: 100%;
  }
  #section01.bannerSection h2, #section01.bannerSection p {
    padding-right: 0;
  }
  .section02 {
    padding: 5.6rem 2.4rem;
    background-color: #fff;
  }
  .section02__content {
    flex-direction: column;
    background-color: #fff;
  }
  .section02__contentBlock {
    width: 100%;
  }
  .section02__contentBlock .img-cover {
    width: 86.6%;
    max-width: 312px;
    margin: auto;
  }
  .section02__contentBlock:nth-child(2) {
    order: 3;
  }
  .section02__contentBlock:nth-child(3) {
    order: 2;
  }
  .section02__links {
    flex-direction: column;
    align-items: center;
  }
  .section02__links .block-link {
    width: 100%;
    max-width: 49.92rem;
  }
  .section02__links .block-link .img-cover {
    width: 100%;
    height: 33.6rem;
    background-size: 100% 100% !important;
  }
  .section02__links a {
    top: 24.7rem;
  }
  .section03__inner {
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }
  .section03__inner .img-cover {
    margin-right: 0;
  }
  .section03__content {
    text-align: center;
  }
  .section04__search {
    width: 91.1%;
  }
  .section__block {
    padding: 5.6rem 2.4rem;
  }
  .section__block#rental {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
  .section__block#hoa {
    flex-direction: column-reverse;
    padding: 0;
    gap: 0;
  }
  .section__block#rental .image-contain, .section__block#hoa .image-contain {
    width: 100%;
    height: 103vw;
    border-radius: 0;
    position: relative;
  }
  .section__block#rental .image-contain img, .section__block#hoa .image-contain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  .section__block#rental .image-contain::before, .section__block#hoa .image-contain::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 2;
    opacity: 30%;
  }
  .section__block.contact a {
    width: 100%;
  }
  .section__blockContent {
    padding: 2.4rem;
  }
  .section__blockSlide .category-slide .slick-slide button {
    width: 12rem;
    padding: 0;
  }
  .section__blockSlide .category-slide .slick-slide button img {
    width: 3.2rem;
  }
  .section__blockSlide .category-slide .slick-slide button p {
    font-size: 1.2rem;
  }
  .section__blockSlide button.slick-arrow {
    width: 4rem;
    height: 4rem;
  }
  .section .slide-info {
    padding: 8.8rem 2.4rem 2.4rem;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    row-gap: 4rem;
  }
  .section .slide-info .image-contain {
    width: 100%;
  }
  .section .slide-info .image-contain img {
    width: 100%;
  }
  .section05 h1 {
    font-size: 3.2rem;
  }
  .section06__inner {
    padding: 1.6rem;
  }
  .section06__tabs {
    padding: 1.6rem 0;
  }
  .section06__tabs .c-tabs_nav {
    gap: 1.6rem;
  }
  .section06__tabs .c-tabs_nav button {
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 0 1.2rem;
  }
  .section06__tabs .c-accordion .c-accordion_item {
    padding: 1.6rem;
  }
  .section06__tabs .c-accordion .c-accordion_item summary {
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding-right: 1.5rem;
  }
  .section06__tabs .c-accordion .c-accordion_item summary::before {
    width: 1.6rem;
    height: 0.9rem;
  }
  .section06__tabs .c-accordion .c-accordion_item p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .section08 {
    padding: 3.2rem 0;
  }
  .section08__blockStaffs {
    flex-direction: column;
  }
  .section08__blockStaffs a {
    width: 7.2rem;
    height: 7.2rem;
  }
  .section08__blockStaffs a::before {
    left: -3.9rem;
  }
  .section08__blockStaffs a::after {
    right: -0.1rem;
  }
  .section09__values {
    grid-template-columns: repeat(2, 1fr);
  }
  .section11 {
    padding: 3.2rem 2.4rem;
  }
  .footer {
    padding: 0 0 10rem;
    flex-direction: column-reverse;
  }
  .footer__block:nth-child(2) {
    width: 100%;
    padding: 6.4rem 4rem;
  }
  .footer__subContent {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .footer__subContent > a {
    margin: 0;
    padding: 3.15rem 0;
    border-bottom: solid 1px #d3d7e5;
    width: 100%;
    justify-content: center;
    order: 1;
  }
  .footer__subContent ul {
    order: 2;
    padding: 3.15rem 0;
    border-bottom: solid 1px #d3d7e5;
    width: 100%;
    justify-content: center;
  }
  .footer__subContent ul li:last-child {
    margin-right: 0;
  }
  .footer__subContent p {
    order: 3;
    padding: 2.4rem 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .section02__contentBlock {
    width: 100%;
  }
  .section02__links .block-link {
    max-width: 31.2rem;
  }
  .section02__links .block-link .img-cover {
    width: 100%;
    height: 21rem;
  }
  .section02__links a {
    top: 11.7rem;
  }
  .section03 {
    padding: 7.3rem 4.8rem;
  }
  .section03__inner .img-cover {
    width: 17.1rem;
  }
  .section04__search input {
    height: 4rem;
  }
  .section04__search input::placeholder, .section04 ::-webkit-input-placeholder, .section04 input {
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: #6E6F73;
  }
  .section04__search button {
    width: 4rem;
    height: 4rem;
  }
  .section04__search button img {
    width: 2.4rem;
    height: 2.4rem;
  }
  .section__blockSlide button.slick-arrow {
    width: 2.8rem;
    height: 2.8rem;
  }
  .section08__inner {
    padding: 0 2.4rem;
  }
  .section08__blockStaffs .staff {
    width: 100%;
  }
  .section08__blockStaffs .image-cover {
    width: 86.6vw;
    height: 86.6vw;
  }
  .section08__blockStaffs a {
    width: 5.8rem;
    height: 5.8rem;
    top: 34.1rem;
  }
  .section08__blockStaffs a::before {
    bottom: 2.5rem;
  }
  .section09__values {
    grid-template-columns: repeat(1, 1fr);
  }
  .section11__inner {
    width: 100%;
  }
  .section11__contactForm {
    width: 100%;
  }
  .section11__contactForm .c-form-element {
    flex-direction: column;
  }
  .section11__contactForm .c-form-group {
    width: 100%;
  }
  .section11__contactForm .c-form-group textarea {
    width: 100%;
    box-sizing: border-box;
  }
  .section11__contactForm .c-form-group input {
    width: 100%;
  }
  .footer__block:nth-child(1) {
    padding: 0 2.4rem;
  }
  .footer__block:nth-child(2) {
    padding: 6.4rem 2.4rem;
    align-items: flex-start;
  }
  .footer__block:nth-child(2) h3 {
    width: 100%;
    text-align: center;
  }
  .footer__mainContent {
    flex-direction: column;
    padding: 2.4rem 0;
    gap: 2.4rem;
  }
}

/*# sourceMappingURL=style.css.map */
