@charset "utf-8";
@import "reset.css";
@import "variables.scss";
@import "mixins.scss";

html {
    @include breakpoints(
        "font-size",
        "",
        (
            1920: 10px,
            1600: 0.66vw,
            1440: 0.694vw,
            768: 1.302vw,
        )
    );
    scroll-behavior: smooth;
    overflow-x: hidden;
}

img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}
  
a {
    text-decoration: none;
}

a , span {
    display: inline-block;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    &__top {
        background-color: #fff;
        @include flex(center, flex-end);
        padding:.7rem 32px;
        a {
            @include font-style($poppins-font,1.4rem,500,2.1rem);
            color: $primary-blue;            
        }
        a span {
            display: inline-block;
            width: 2rem;
            margin-right: 1rem;
        }
    }
    &__navBar {
        @include flex(center, space-between);
        padding: 1.4rem 3.2rem;
        background-color: transparent;
        a.link-home {
            width: 19.7rem;
            margin-right: 7.7rem;
            filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(328deg) brightness(89%) contrast(114%);
        }
    }
    &__navList {
        flex-grow: 1;
        @include flex(center, space-between);
    }
    &__navLink {
        a {
            @include font-style($poppins-font, 1.6rem,500,2.4rem);
            color: #fff;
            padding: 0 1.2rem;
            transition: all .25s linear;
        }
        a:hover,
        a.active {
            color: $secondary-blue;
        }
    }
    &__navBar.fixed_bg,&__navBar.relative_color {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.15) 0 1.95px 2.6px;
    }
    &__navBar.fixed_bg .header__navList a,
    &__navBar.relative_color .header__navList a {
        color: #26262E
        
    }
    &__navBar.fixed_bg .header__navList a,
    &__navBar.relative_color .header__navList a {
        &:hover,
        &.active {
            color: $secondary-blue;
        }
    }
}

#section01.bannerSection {
    @include size(100vw,100vh);
    @include flex(center,center,column);
    background: url(/assets/images/img_banner.jpg) no-repeat;
    background-size: cover;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        @include size(100%,100%);
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 2;
        opacity: 50%;
    }
    .home-slick {
        width: 83%;
        z-index: 3;
    }
    h2 {
        padding-right: 36%;
        @include font-style($poppins-font,5.6rem,700,7.28rem);
        color: #fff;
        white-space: normal;
        margin-bottom: 4.8rem;
    }
    p {
        padding-right: 36%;
        @include font-style($inter-font,3.2rem,400,3.873rem);
        color: #fff;
        letter-spacing: 1px;
    }
    .slick-slider {
        margin-bottom: 8.8rem;
    }
    .custome-dots ul {
        @include flex(center,center);
        position: relative;
        z-index: 3;
        gap: 1.6rem;
    }
    .custome-dots li.slick-active button {
        @include size(4rem);
        background-color: transparent;
        border: solid 1px $saffron;
        @include font-style($poppins-font,1.2rem, 600);
        color: $saffron;
        background-color: transparent;
    }

    .custome-dots li button {
        font-size: 0;
        @include size(1.2rem);
        border-radius: 50%;
        border: solid 1px #fff;
        padding: 0;
        transition: all .25s linear;
    }
}

.section {
    &__inner {
        background-color: #f7fafc;
    }
    &__inner.fixed-width {
        width: 120rem;
        margin: 0 auto;
    }
    &__block {
        padding: 5.4rem 8.3vw;
        @include flex(flex-start,space-between);
        .image-contain {
            width: 58.4rem;
            border-radius: 0 2rem 2rem 0;
            overflow: hidden;
            flex-shrink: 0
        }
        h2 {
            @include font-style($poppins-font,5.6rem,700,7.28rem);
            margin-bottom: 3.2rem;
        }
        p {
            @include font-style($poppins-font,1.6rem,400,2.4rem);
            margin-bottom: 1rem;
        }
        
    }
    &__block#rental {
        padding: 4.4vw 12rem 4.4vw 0;
        gap: 12rem;
    }
    &__block#hoa {
        padding: 4.4vw 0 4.4vw 12rem;
        gap: 12rem;
        .image-contain {
            border-radius: 2rem 0 0 2rem;
        }
    }
    &__block.contact {
        @include flex(center,flex-start, column);
        padding-top: 6.4rem;
        padding-bottom: 12rem;
        h2.ttl {
            @include font-style($poppins-font,4rem,600,5.2rem);  
            margin-bottom: 3.2rem;
        }
        a {
            width: 39.5rem;
            @include font-style($poppins-font,2.4rem,500,6.3rem);
            border-radius: .8rem;
            background-color: #26262E;
            color: #FEFEFE;
            text-align: center;
            text-transform: uppercase;
        }
    }
    &__blockSlide {
        width: 100%;
        overflow-x: hidden;
        // padding: 0 6.38vw;
        .category-slide {
            width: 100%;
            padding: 0 6.38vw;
            margin-bottom: 5.325rem;
        }
        button img {
            width: 5.6rem;
            margin-bottom: 1.6rem;
        }
        .category-slide .slick-slide {
            width: 21.4rem;
        }
        .category-slide .slick-slide button {
            @include flex(center,center,column);
            margin: 0 2rem;
            background-color: transparent;
            border: none;
            width: 14.8vw;
            padding: 2.4rem 0;
        }
        .category-slide .slick-slide button.active  {
            background-color: #ECF9FF;
            position: relative;
        }
        button.active::before {
            content: "";
            width: 0; 
            height: 0; 
            border-left: 1.9rem solid transparent;
            border-right: 1.9rem solid transparent;
            border-bottom: 3rem solid #EAEAEA;
            position: absolute;
            bottom: - 5.325rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
        }
        
        button.active img {
            filter: brightness(0) saturate(100%) invert(44%) sepia(90%) saturate(2023%) hue-rotate(183deg) brightness(92%) contrast(94%);
        }
        button.active p {
            color: #158BE3;
        }
        button.slick-arrow.slick-disabled {
            display: none;
        }
        button.slick-arrow {
            background: url(/assets/images/i_arrow_c.svg) no-repeat;
            background-size: 100%;
            @include size(7.2rem);
            font-size: 0;
            border: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
        button.slick-arrow.slick-prev {
            top: 50%;
            transform: rotate(180deg) translateY(50%);
            right: unset;
            left: 0;
            z-index: 2;
        }
        .slick-list {
            clip-path: inset(0 0 -100px 0);
            overflow: visible;
        }
    }
    .slide-info {
        padding: 8.8rem 4rem 4rem;
        position: relative;
        border-radius: 1.6rem;
        background-color: #EAEAEA;
        @include flex(center,space-between);
        display: none;
        button {
            position: absolute;
            background-color: transparent;
            padding: 0;
            border: none;
            top: 1.6rem;
            right: 4rem;
            cursor: pointer;
        }
        button img {
            @include size(3.2rem);
        }
        .image-contain img {
            width: 48.5rem;
            border-radius: 2rem;
        }
        ul {
            margin-right: 4rem;
        }
        ul li {
            @include font-style($poppins-font,1.6rem,400,2.4rem);
            list-style: disc;
            margin-left: 3rem;
        }
    }
    .slide-info.active {
        display: flex;
    }
}

.section02 {
    padding: 6.4rem 0;
    &__content {
        @include flex(flex-start, space-between);
        gap: 4rem;
        flex-wrap: wrap;
        padding-bottom: 6.9rem;
        border-bottom: solid 1px #d3d7e5;
    }
    &__contentBlock {
        width: calc(50% - 2rem);
        h2 {
            @include font-style($poppins-font,3.2rem,700,4.16rem);
            margin-bottom: 3.2rem;
        }
        .block-list li {
            @include font-style($poppins-font,1.6rem,400,2.4rem);
            margin-bottom: 1.6rem;
        }
        .block-list li:first-child {
            margin-bottom: 3.2rem;
        }
        .block-list li span {
            width: 4rem;
            margin-right: 1.6rem;
        }
        & .img-cover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
        p {
            @include font-style($poppins-font,1.6rem,400,2.4rem);
        }
        p span {
            font-weight: 700;
            display: inline;
        }
    }
    &__links {
        @include flex(flex-start,space-between);
        gap: 2.4rem;
        padding: 6.5rem 0;
        .block-link {
            position: relative;
        }
        .block-link .img-cover {
            @include size(38.4rem);
            background: url(/assets/images/img_link_01.png) no-repeat;
            background-size: auto 100%;
            border-radius: 1.5rem;
            margin-bottom: 2.4rem;
        }
        .block-link:nth-child(2) .img-cover {
            background: url(/assets/images/img_link_02.png) no-repeat;
            background-size: auto 100%;
        }
        .block-link:nth-child(3) .img-cover {
            background: url(/assets/images/img_link_03.jpg) no-repeat;
            background-size: auto 100%;
        }
        h3 {
            @include font-style($poppins-font,2.4rem,700,3.12rem);
        }
        a {
            position: absolute;
            right: 0rem;
            top: 29.1rem;
            padding: 2.1rem;
            padding-right: 0;
            background-color: #fff;
            border-radius: 50% 0 0 0;
        }
        a::before {
            content: "";
            width: 4rem;
            height: 4rem;
            background-color: #fff;
            position: absolute;
            bottom: 2.1rem;
            left: -4rem;
            mask-image: radial-gradient(circle at bottom left, transparent 60%, #fff 62%);
            -webkit-mask-image: radial-gradient(circle at bottom left, transparent 70%, #fff 75%);
            border-radius: 0;
            transform: rotate(90deg);
        }
        a::after {
            content: "";
            width: 4rem;
            height: 4rem;
            background-color: #fff;
            position: absolute;
            top: -4rem;
            right: 0;
            mask-image: radial-gradient(circle at bottom left, transparent 60%, #fff 62%);
            -webkit-mask-image: radial-gradient(circle at bottom left, transparent 70%, #fff 75%);
            border-radius: 0;
            transform: rotate(90deg);
        }
    }
}

.section03 {
    background-color: $primary-blue;
    padding: 9.5rem 9.8rem;
    &__inner {
        background-color: #fff;
        border: solid 1px #D3D7E5;
        border-radius: 1.6rem;
        @include flex(censter,space-between);
        padding: 5.6rem;
        .img-cover {
            width: 32rem;
            margin-right: 5.6rem;
        }
    }
    &__content {
        flex-grow: 1;
        h2 {
            @include font-style($poppins-font,4.8rem,700,6.24rem);
            margin-bottom: 2.4rem;
        }
        p {
            @include font-style($poppins-font,1.6rem,400,2.4rem);
            margin-bottom: 2.4rem;
        }
        a {
            @include font-style($poppins-font,1.6rem,400,4rem);
            padding: 0 2.4rem;
            color: #FEFEFE;
            border-radius: .8rem;
            background-color: #26262E;
        }
    }
}
.footer {
    @include flex(stretch,space-between);
    background-color: #F7FAFC;
    &__block {
        &:nth-child(1) {
            flex-grow: 1;
            padding: 0 12rem;
            background-color: #fff;
        }
        &:nth-child(2) {
            width: 22.3%;
            @include flex(center,center,column);
            padding: 0 4rem;
            box-sizing: border-box;
        }
    }
    &__mainContent {
        padding: 10rem 0 6.4rem;
        @include flex(flex-start,flex-start);
        border-bottom: solid 1px #d3d7e5;
        ul li {
            @include font-style($poppins-font,1.4rem,400,2.1rem);
            margin-bottom: 1.6rem;
            color: #6E6F73;
            text-transform: capitalize;
        }
        ul li:first-child {
            @include font-style($poppins-font,1.6rem,500,2.4rem);
            color: #0D1436;
        }
        ul li:last-child {
            margin-bottom: 0;
        }
        ul li a {
            @include font-style($poppins-font,1.4rem,400,2.1rem);
            color: #6E6F73;
            text-transform: capitalize; 
        }
        ul:first-child {
            margin-right: 2.4rem;
            width: 28.5rem;
        }
    }
    &__subContent {
        padding: 2.6rem 3.4rem;
        @include flex(center, flex-start);
        p {
            @include font-style($poppins-font,1.4rem,400,2.1rem);
            color: #696C80;
            margin-right: 12.8rem;
        }
        > a {
            @include flex(center, flex-start);
            @include font-style($poppins-font,1.4rem,400,2.1rem);
            color: #696C80;
            margin-right: 6.8rem;
        }
        > a span {
            margin-right: .8rem;
        }
        ul {
            @include flex(center, flex-start);
        }
        ul li {
            margin-right: 4rem;
        }
    }
    &__block:nth-child(2) h3{
        @include font-style($poppins-font,2.4rem,500,3.12rem);
        margin-bottom: 1.6rem;
    }
    &__block:nth-child(2) ul li {
        @include flex(flex-start,flex-start,column);
        margin-bottom: 1.9rem;
    }
    &__block:nth-child(2) ul li span:nth-child(1) {
        @include font-style($poppins-font,1.4rem,400,2.1rem);
        color: #6E6F73;
        margin-bottom: 1.6rem;
    }
    &__block:nth-child(2) ul li span:nth-child(2) {
        @include flex(center,flex-start);
    }
    &__block:nth-child(2) ul li span:nth-child(2) p {
        @include font-style($poppins-font,1.6rem,500,2.1rem);
        color: #26262E;
    }
    &__block:nth-child(2) ul li span:nth-child(2) i {
        width: 1.875rem;
        display: inline-block;
        margin-right: 1rem;
    }
}

.section04 {
    @include size(100vw,100vh);
    @include flex(center,center,column);
    background: url(/assets/images/img_banner_02.jpg) no-repeat;
    background-size: 100% auto;
    background-position: center;
    position: relative;
    text-align: center;
   &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 2;
        opacity: 50%;
    }
    &__inner {
        position: relative;
        z-index: 3;
        width: 100%;
        @include flex(center,center,column);    
    }
    h2 {
        @include font-style($poppins-font,5.6rem,700,7.28rem);
        color: #fff;
        margin-bottom: 1rem
    }
    p {
        color: #fff;
        @include font-style($poppins-font,1.6rem,400,2.4rem);
        margin-bottom: 6.6rem;
    }
    p.labelForForm {
        @include font-style($inter-font,2.4rem,500,3.12rem);
        margin-bottom: 1rem;
    }
    &__search {
        width: 55%;
        position: relative;
        input {
            width: 100%;
            height: 6.8rem;
            border-radius: .8rem;
            border: none;
            padding: 0 8.4rem 0 1.6rem;
            box-sizing: border-box;
        }
        & input::placeholder, ::-webkit-input-placeholder, input {
            @include font-style($poppins-font,2rem,400,2.6  rem);
            color: #6E6F73;
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            @include size(6.8rem);
            background-color: #23BDFF;
            border: none;
            border-radius: 0 .8rem .8rem 0;
        }
        button img {
            @include size(4rem);
        }
    }
    
}