@charset "utf-8";
@import "reset.css";
@import "variables.scss";
@import "mixins.scss";

html {
    @include breakpoints(
        "font-size",
        "",
        (
            1920: 10px,
            1600: 0.66vw,
            1440: 0.694vw,
            768: 1.302vw,
            480: 2.083vw,
            360: 2.778vw
        )
    );
    scroll-behavior: smooth;
    overflow-x: hidden;
}

img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}
  
a {
    text-decoration: none;
}

a , span {
    display: inline-block;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    &__top {
        background-color: #fff;
        @include flex(center, flex-end);
        padding:.7rem 3.2rem;
        a {
            @include font-style($poppins-font,1.4rem,500,2.1rem);
            color: $primary-blue;            
        }
        a span {
            display: inline-block;
            width: 2rem;
            margin-right: 1rem;
        }
    }
    &__navBar {
        @include flex(center, space-between);
        padding: 1.4rem 3.2rem;
        background-color: transparent;
        a.link-home {
            @include size(19.7rem,7.4rem);
            margin-right: 7.7rem;
            background: url(./assets/images/img_logo_w.png) no-repeat;
            background-size: 100%;
        }
    }
    &__navBar.fixed_bg ,
    &__navBar.relative_color {
        a.link-home {
            background: url(./assets/images/img_logo_color.png) no-repeat;
            background-size: 100%;
        }
    }
    &__navList {
        flex-grow: 1;
        @include flex(center, space-between);
    }
    &__navLink {
        a {
            @include font-style($poppins-font, 1.6rem,500,2.4rem);
            color: #fff;
            padding: 0 1.2rem;
            transition: all .25s linear;
        }
        a:hover,
        a.active {
            color: $secondary-blue;
        }
    }
    &__navBar.fixed_bg,&__navBar.relative_color {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.15) 0 1.95px 2.6px;
    }
    &__navBar.fixed_bg .header__navList a,
    &__navBar.relative_color .header__navList a {
        color: #26262E
        
    }
    &__navBar.fixed_bg .header__navList a,
    &__navBar.relative_color .header__navList a {
        &:hover,
        &.active {
            color: $secondary-blue;
        }
    }
}

#section01.bannerSection {
    @include size(100vw,100vh);
    @include flex(center,center,column);
    background: url(./assets/images/img_banner.jpg) no-repeat;
    background-size: cover;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        @include size(100%,100%);
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 2;
        opacity: 50%;
    }
    .home-slick {
        width: 83%;
        z-index: 3;
    }
    h2 {
        padding-right: 36%;
        @include font-style($poppins-font,5.6rem,700,7.28rem);
        color: #fff;
        white-space: normal;
        margin-bottom: 4.8rem;
    }
    p {
        padding-right: 36%;
        @include font-style($inter-font,3.2rem,400,3.873rem);
        color: #fff;
        letter-spacing: 1px;
    }
    .slick-slider {
        margin-bottom: 8.8rem;
    }
    .custome-dots ul {
        @include flex(center,center);
        position: relative;
        z-index: 3;
        gap: 1.6rem;
    }
    .custome-dots li.slick-active button {
        @include size(4rem);
        background-color: transparent;
        border: solid 1px $saffron;
        @include font-style($poppins-font,1.2rem, 600);
        color: $saffron;
        background-color: transparent;
    }

    .custome-dots li button {
        font-size: 0;
        @include size(1.2rem);
        border-radius: 50%;
        border: solid 1px #fff;
        padding: 0;
        transition: all .25s linear;
    }
}

.section {
    &__inner {
        background-color: #f7fafc;
    }
    &__inner.fixed-width {
        width: 120rem;
        margin: 0 auto;
    }
    &__block {
        padding: 5.4rem 8.3vw;
        @include flex(flex-start,space-between);
        .image-contain {
            width: 58.4rem;
            border-radius: 0 2rem 2rem 0;
            overflow: hidden;
            flex-shrink: 0
        }
        h2 {
            @include font-style($poppins-font,5.6rem,700,7.28rem);
            margin-bottom: 3.2rem;
        }
        p {
            @include font-style($poppins-font,1.6rem,400,2.4rem);
            margin-bottom: 1rem;
        }
        
    }
    &__block#rental {
        padding: 4.4vw 12rem 4.4vw 0;
        gap: 12rem;
    }
    &__block#hoa {
        padding: 4.4vw 0 4.4vw 12rem;
        gap: 12rem;
        .image-contain {
            border-radius: 2rem 0 0 2rem;
        }
    }
    &__block.contact {
        @include flex(center,flex-start, column);
        padding-top: 6.4rem;
        padding-bottom: 12rem;
        h2.ttl {
            @include font-style($poppins-font,4rem,600,5.2rem);  
            margin-bottom: 3.2rem;
        }
        a {
            width: 39.5rem;
            @include font-style($poppins-font,2.4rem,500,6.3rem);
            border-radius: .8rem;
            background-color: #26262E;
            color: #FEFEFE;
            text-align: center;
            text-transform: uppercase;
        }
    }
    &__blockSlide {
        width: 100%;
        overflow-x: hidden;
        // padding: 0 6.38vw;
        .category-slide {
            width: 100%;
            padding: 0 6.38vw;
            margin-bottom: 5.325rem;
        }
        button img {
            width: 5.6rem;
            margin-bottom: 1.6rem;
        }
        .category-slide .slick-slide {
            width: 21.4rem;
        }
        .category-slide .slick-slide button {
            @include flex(center,center,column);
            margin: 0 2rem;
            background-color: transparent;
            border: none;
            width: 14.8vw;
            padding: 2.4rem 0;
        }
        .category-slide .slick-slide button.active  {
            background-color: #ECF9FF;
            position: relative;
        }
        button.active::before {
            content: "";
            width: 0; 
            height: 0; 
            border-left: 1.9rem solid transparent;
            border-right: 1.9rem solid transparent;
            border-bottom: 3rem solid #EAEAEA;
            position: absolute;
            bottom: - 5.325rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
        }
        
        button.active img {
            filter: brightness(0) saturate(100%) invert(44%) sepia(90%) saturate(2023%) hue-rotate(183deg) brightness(92%) contrast(94%);
        }
        button.active p {
            color: #158BE3;
        }
        button.slick-arrow.slick-disabled {
            display: none !important;
        }
        button.slick-arrow {
            background: url(./assets/images/i_arrow_c.svg) no-repeat;
            background-size: 100%;
            @include size(7.2rem);
            font-size: 0;
            border: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
        button.slick-arrow.slick-prev {
            top: 50%;
            transform: rotate(180deg) translateY(50%);
            right: unset;
            left: 0;
            z-index: 2;
        }
        .slick-list {
            clip-path: inset(0 0 -100px 0);
            overflow: visible;
        }
    }
    .slide-info {
        padding: 8.8rem 4rem 4rem;
        position: relative;
        border-radius: 1.6rem;
        background-color: #EAEAEA;
        @include flex(center,space-between);
        display: none;
        button {
            position: absolute;
            background-color: transparent;
            padding: 0;
            border: none;
            top: 1.6rem;
            right: 4rem;
            cursor: pointer;
        }
        button img {
            @include size(3.2rem);
        }
        .image-contain img {
            width: 48.5rem;
            border-radius: 2rem;
        }
        ul {
            margin-right: 4rem;
        }
        ul li {
            @include font-style($poppins-font,1.6rem,400,2.4rem);
            list-style: disc;
            margin-left: 3rem;
        }
    }
    .slide-info.active {
        display: flex;
    }
}

.section02 {
    padding: 6.4rem 0;
    background-color: #f7fafc;
    &__content {
        @include flex(flex-start, space-between);
        gap: 4rem;
        flex-wrap: wrap;
        padding-bottom: 6.9rem;
        border-bottom: solid 1px #d3d7e5;
    }
    &__contentBlock {
        width: calc(50% - 2rem);
        h2 {
            @include font-style($poppins-font,3.2rem,700,4.16rem);
            margin-bottom: 3.2rem;
        }
        .block-list li {
            @include font-style($poppins-font,1.6rem,400,2.4rem);
            margin-bottom: 1.6rem;
        }
        .block-list li:first-child {
            margin-bottom: 3.2rem;
        }
        .block-list li span {
            width: 4rem;
            margin-right: 1.6rem;
        }
        & .img-cover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
        p {
            @include font-style($poppins-font,1.6rem,400,2.4rem);
        }
        p span {
            font-weight: 700;
            display: inline;
        }
    }
    &__links {
        @include flex(flex-start,space-between);
        gap: 2.4rem;
        padding: 6.5rem 0;
        .block-link {
            position: relative;
        }
        .block-link .img-cover {
            @include size(38.4rem);
            background: url(./assets/images/img_link_01.png) no-repeat;
            background-size: auto 100%;
            border-radius: 1.5rem;
            margin-bottom: 2.4rem;
        }
        .block-link:nth-child(2) .img-cover {
            background: url(./assets/images/img_link_02.png) no-repeat;
            background-size: auto 100%;
        }
        .block-link:nth-child(3) .img-cover {
            background: url(./assets/images/img_link_03.jpg) no-repeat;
            background-size: auto 100%;
        }
        h3 {
            @include font-style($poppins-font,2.4rem,700,3.12rem);
        }
        a {
            position: absolute;
            right: 0rem;
            top: 29.1rem;
            padding: 2.1rem;
            padding-right: 0;
            background-color: #fff;
            border-radius: 50% 0 0 0;
            @include size(7.2rem)
        }
        a::before {
            content: "";
            width: 4rem;
            height: 4rem;
            background-color: #fff;
            position: absolute;
            bottom: 2.1rem;
            left: -3.9rem;
            mask-image: radial-gradient(circle at bottom left, transparent 60%, #fff 62%);
            -webkit-mask-image: radial-gradient(circle at bottom left, transparent 70%, #fff 75%);
            border-radius: 0;
            transform: rotate(90deg);
        }
        a::after {
            content: "";
            width: 4rem;
            height: 4rem;
            background-color: #fff;
            position: absolute;
            top: -4rem;
            right: -1px;
            mask-image: radial-gradient(circle at bottom left, transparent 60%, #fff 62%);
            -webkit-mask-image: radial-gradient(circle at bottom left, transparent 70%, #fff 75%);
            border-radius: 0;
            transform: rotate(90deg);
        }
    }
}

.section03 {
    background-color: $primary-blue;
    padding: 9.5rem 9.8rem;
    &__inner {
        background-color: #fff;
        border: solid 1px #D3D7E5;
        border-radius: 1.6rem;
        @include flex(censter,space-between);
        padding: 5.6rem;
        .img-cover {
            width: 32rem;
            margin-right: 5.6rem;
        }
    }
    &__content {
        flex-grow: 1;
        h2 {
            @include font-style($poppins-font,4.8rem,700,6.24rem);
            margin-bottom: 2.4rem;
        }
        p {
            @include font-style($poppins-font,1.6rem,400,2.4rem);
            margin-bottom: 2.4rem;
        }
        a {
            @include font-style($poppins-font,1.6rem,400,4rem);
            padding: 0 2.4rem;
            color: #FEFEFE;
            border-radius: .8rem;
            background-color: #26262E;
        }
    }
}
.footer {
    @include flex(stretch,space-between);
    background-color: #F7FAFC;
    &__block {
        &:nth-child(1) {
            flex-grow: 1;
            padding: 0 12rem;
            background-color: #fff;
        }
        &:nth-child(2) {
            width: 22.3%;
            @include flex(center,center,column);
            padding: 0 4rem;
            box-sizing: border-box;
        }
    }
    &__mainContent {
        padding: 10rem 0 6.4rem;
        @include flex(flex-start,flex-start);
        border-bottom: solid 1px #d3d7e5;
        ul li {
            @include font-style($poppins-font,1.4rem,400,2.1rem);
            margin-bottom: 1.6rem;
            color: #6E6F73;
            text-transform: capitalize;
        }
        ul li:first-child {
            @include font-style($poppins-font,1.6rem,500,2.4rem);
            color: #0D1436;
        }
        ul li:last-child {
            margin-bottom: 0;
        }
        ul li a {
            @include font-style($poppins-font,1.4rem,400,2.1rem);
            color: #6E6F73;
            text-transform: capitalize; 
        }
        ul:first-child {
            margin-right: 2.4rem;
            width: 28.5rem;
        }
    }
    &__subContent {
        padding: 2.6rem 3.4rem;
        @include flex(center, flex-start);
        p {
            @include font-style($poppins-font,1.4rem,400,2.1rem);
            color: #696C80;
            margin-right: 12.8rem;
        }
        > a {
            @include flex(center, flex-start);
            @include font-style($poppins-font,1.4rem,400,2.1rem);
            color: #696C80;
            margin-right: 6.8rem;
        }
        > a span {
            margin-right: .8rem;
        }
        ul {
            @include flex(center, flex-start);
        }
        ul li {
            margin-right: 4rem;
        }
    }
    &__block:nth-child(2) h3{
        @include font-style($poppins-font,2.4rem,500,3.12rem);
        margin-bottom: 1.6rem;
    }
    &__block:nth-child(2) ul li {
        @include flex(flex-start,flex-start,column);
        margin-bottom: 1.9rem;
    }
    &__block:nth-child(2) ul li span:nth-child(1) {
        @include font-style($poppins-font,1.4rem,400,2.1rem);
        color: #6E6F73;
        margin-bottom: 1.6rem;
    }
    &__block:nth-child(2) ul li span:nth-child(2) {
        @include flex(center,flex-start);
    }
    &__block:nth-child(2) ul li span:nth-child(2) p {
        @include font-style($poppins-font,1.6rem,500,2.1rem);
        color: #26262E;
    }
    &__block:nth-child(2) ul li span:nth-child(2) i {
        width: 1.875rem;
        display: inline-block;
        margin-right: 1rem;
    }
}

.section04 {
    @include size(100vw,100vh);
    @include flex(center,center,column);
    background: url(./assets/images/img_banner_02.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
   &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 2;
        opacity: 50%;
    }
    &__inner {
        position: relative;
        z-index: 3;
        width: 100%;
        @include flex(center,center,column);    
    }
    h2 {
        @include font-style($poppins-font,5.6rem,700,7.28rem);
        color: #fff;
        margin-bottom: 1rem
    }
    p {
        color: #fff;
        @include font-style($poppins-font,1.6rem,400,2.4rem);
        margin-bottom: 6.6rem;
    }
    p.labelForForm {
        @include font-style($inter-font,2.4rem,500,3.12rem);
        margin-bottom: 1rem;
    }
    &__search {
        width: 55%;
        position: relative;
        input {
            width: 100%;
            height: 6.8rem;
            border-radius: .8rem;
            border: none;
            padding: 0 8.4rem 0 1.6rem;
            box-sizing: border-box;
        }
        & input::placeholder, ::-webkit-input-placeholder, input {
            @include font-style($poppins-font,2rem,400,2.6rem);
            color: #6E6F73;
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            @include size(6.8rem);
            background-color: #23BDFF;
            border: none;
            border-radius: 0 .8rem .8rem 0;
        }
        button img {
            @include size(4rem);
        }
    }
    
}

.section05 {
    background: url(./assets/images/img_bg_ttl.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    position: relative;
    margin-top: 3.5rem;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 2;
        opacity: 50%;
    }
    &__inner {
        padding: 14rem 0 6.7rem;
        position: relative;
        z-index: 3;
        h1 {
            @include font-style($poppins-font,5.6rem,700,7.28rem);
            color: #FEFEFE;
            text-align: center;
            
        }
    }
}

.section06 {
    &__inner {
        padding: 0 20rem;
    }
    &__tabs {
        padding: 8rem 0;
        .c-tabs_nav {
            @include flex(center,center);
            gap: 4.8rem;
            margin-bottom: 4.8rem;
        }
        .c-tabs_nav button {
            @include font-style($poppins-font,3.6rem,700,6.7rem);
            border: none;
            background-color: transparent;
            padding: 0 1.6rem;
            cursor: pointer;
            color: #6E6F73;
        }
        .c-tabs_nav button.is-checked {
            color: $primary-blue;
            border-bottom: solid 3px $primary-blue;
        }
        .c-tabs_panels .c-tabs_panel {
            display: none;
        }
        .c-tabs_panels .c-tabs_panel.is-checked {
            display: block;
        }
        .c-accordion .c-accordion_item{
            padding: 4rem 1.6rem;
            border-bottom: solid 1px #D3D7E5;
        }
        .c-accordion .c-accordion_item summary {
            @include font-style($poppins-font,2.8rem,700,3.64rem);
            color: #26262E;
            position: relative;
            list-style: none;
            cursor: pointer;
        }
        .c-accordion .c-accordion_item details[open] summary {
            margin-bottom: 2.4rem;
        }
        .c-accordion .c-accordion_item summary::-webkit-details-marker {
            display: none;
        }
        .c-accordion .c-accordion_item summary::before{
            content: "";
            position: absolute;
            @include size(2.2rem,1.2rem);
            background: url(./assets/images/i_arrow_d.png) no-repeat;
            background-size: 100%;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all .25s linear;
        }
        .c-accordion .c-accordion_item details[open] summary::before {
            transform: rotate(180deg) translateY(50%);
        }
        .c-accordion .c-accordion_item p {
            @include font-style($poppins-font,1.4rem,400,2.1rem);
            color: #57595B;
        }
        .c-accordion .c-accordion_item p a {
            color: #57595B;
            text-decoration: underline;
        }
    }
}

.section07 {
    background: url(./assets/images/img_bg_ttl_02.jpg) no-repeat;
    background-size: 100% auto;
    background-position: left center;
    h1 {
        margin-bottom: 1rem;
    }
    p {
        @include font-style($poppins-font,1.4rem,400,2.1rem);
        text-align: center;
        color: #FEFEFE;
    }
}

.section08 {
    padding: 8rem 0;
    &__inner {
       @include flex(center,flex-start,column);
    }
    h3 {
        @include font-style($poppins-font,4rem,700,5.2rem);
        color: #26262E;
        margin-bottom: 4.2rem;
        text-transform: uppercase
    }
    &__blockStaffs {
        @include flex(flex-start,center);
        gap: 4.8rem;
        .staff {
            width: 38.4rem;
            position: relative;
        }
        .image-cover {
            @include size(38.4rem);
            background: url(./assets/images/img_staff_01.png) no-repeat;
            background-size: auto 100%;
            background-position: center;
            border-radius: 1.5rem;
            margin-bottom: 2.4rem;
        }
        .staffName {
            @include font-style($poppins-font,2.4rem,700,3.12rem);
            padding-bottom: 1.2rem;
            border-bottom: solid 1px #6E6F73;
            margin-bottom: 1.2rem;
            color: #26262E;
        }
        .staffPos {
            @include font-style($poppins-font,1.8rem,400,2.7rem);
            color: #26262E;
        }
        a {
            position: absolute;
            right: 0rem;
            top: 29.1rem;
            padding: 2.1rem;
            padding-right: 0;
            background-color: #fff;
            border-radius: 50% 0 0 0;
        }
        a::before {
            content: "";
            width: 4rem;
            height: 4rem;
            background-color: #fff;
            position: absolute;
            bottom: 2.1rem;
            left: -4rem;
            mask-image: radial-gradient(circle at bottom left, transparent 60%, #fff 62%);
            -webkit-mask-image: radial-gradient(circle at bottom left, transparent 70%, #fff 75%);
            border-radius: 0;
            transform: rotate(90deg);
        }
        a::after {
            content: "";
            width: 4rem;
            height: 4rem;
            background-color: #fff;
            position: absolute;
            top: -4rem;
            right: 0;
            mask-image: radial-gradient(circle at bottom left, transparent 60%, #fff 62%);
            -webkit-mask-image: radial-gradient(circle at bottom left, transparent 70%, #fff 75%);
            border-radius: 0;
            transform: rotate(90deg);
        }
    }
}

.section09 {
    margin-bottom: 8rem;
    &__inner {
        @include flex(center,center,column);
    }
    h3 {
        @include font-style($poppins-font,4rem,700,5.2rem);
        color: #26262E;
        margin-bottom: 4.2rem;
        text-transform: uppercase
    }
    &__values {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 6.4rem 8rem;
        .value {
            @include flex(center,flex-start,column);
            padding: 2.5rem 0;
        }
        .image-contain {
            @include size(8rem);
            margin-bottom: .8rem
        }
        p {
            @include font-style($poppins-font,2.3rem,500,3rem);
            color: #26262E;
            text-align: center;
        }
    }
}

.section10 {
    &__inner {
        @include flex(center,center,column);
    }
    h3 {
        @include font-style($poppins-font,4rem,700,5.2rem);
        color: #26262E;
        margin-bottom: 4.2rem;
        text-transform: uppercase
    }
    &__locations {
        width: 100%;
    }
    iframe {
        width: 100%;
        height: 50rem;
    }
}

.section11 {
    padding: 8rem 12rem;
    &__inner {
        @include flex(center,center);
        gap: 8rem;
        .image-contain {
            width: 50rem;
        }
    }
    &__contactForm {
        h2 {
            @include font-style($poppins-font,4rem,600,5.2rem);
            margin-bottom: 3.2rem;
        }
        h2 span {
            outline: none;
            border: none;
            filter: drop-shadow(0 0 0 transparent);
        }
        .c-form-element {
            @include flex(center,space-between);
            gap: 5.6rem;
            margin-bottom: 4rem;
        }
        .c-form-group label{
            @include font-style($poppins-font,1.6rem,500,2.4rem);
            margin-bottom: .5rem;
        }
        .c-form-group input {
            height: 4.4rem;
            padding: 0 1.6rem;
            background-color: #EFEFEF;
            border: none;
            width: 28.4rem;
            box-sizing: border-box;
        }
        .c-form-group input::placeholder, .c-form-group input::-webkit-input-placeholder, .c-form-group input {
            @include font-style($poppins-font,1.6rem,400,2.4rem);
            color: #73716E;
        }
        .c-form-group--textarea {
            @include flex(flex-start,flex-start,column);
            margin-bottom: 3.2rem;
        }
        .c-form-group textarea {
            width: 62rem;
            border: none;
            background-color: #EFEFEF;
            @include font-style($poppins-font,1.6rem,400,2.4rem);
            color: #73716E;
            padding: 1.6rem;
        }
        .c-form-group--submit button{
            width: 100%;
            @include font-style($poppins-font,1.6rem,500,4.5rem);
            text-transform: uppercase;
            border: none;
            background-color: #26262E;
            color: #FEFEFE;
            border-radius: .8rem;
        }
    }
}

.pc {
    display: block;
}
.sp {
    display: none;
}

@media screen and (max-width: 768px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    } 
    .header {
        &__navList {
            position: fixed;
            left: 100%;
            top: 3.5rem;
            flex-direction: column;
            @include size(100vw,calc(100vh - 17.9rem));
            background-color: #fff;
            z-index: 4;
            padding: 7.2rem 0;
            transition: left .5s ease-in-out;
        }
        &__navList.active {
            left: 0;
        }
        &__navList a,&__navList a.active{
            color: #26262E;
        }
        &__hambuger {
            position: absolute;
            top: 50%;
            right: 2.4rem;
            transform: translateY(-50%);
            @include size(3.2rem);
            padding: .7rem .4rem;
            box-sizing: border-box;
            cursor: pointer;
            z-index: 5;
        }
        &__hambuger .bar {
            width: 100%;
            border-bottom: 2px solid #FEFEFE;
            transition: all .25s linear;
        }
        &__hambuger.change_color .bar {
            border-color: #26262E;
        }
        &__hambuger.relative_color .bar {
            border-color: #26262E;
        }
        &__hambuger.active .bar {
            border-color: #26262E;
        }
        &__hambuger.active .bar:first-child {
            transform: translateY(1rem) rotate(45deg);
        }
        &__hambuger.active .bar:last-child {
            transform: translateY(-1rem) rotate(-45deg);
        }
        &__hambuger.active .bar:nth-child(2) {
            opacity: 0;
        }
    }
    #services .header {
        &__navBar.relative_color {
            background-color: transparent;
            box-shadow: none;
        }
        &__navBar.relative_color a.link-home {
            background: url(./assets/images/img_logo_w.png) no-repeat;
            background-size: 100%;
        }
    }
    .section {
        &__inner.fixed-width {
            width: 100%;
        }
    }
    #section01.bannerSection{
        h2,p {
            padding-right: 0;
        }
    }
    .section02 {
        padding: 5.6rem 2.4rem;
        background-color: #fff;
        &__content {
            flex-direction: column;
            background-color: #fff;
        }
        &__contentBlock {
            width: 100%;
        }
        &__contentBlock .img-cover {
            width: 86.6%;
            max-width: 312px;
            margin: auto;
        }
        // &__contentBlock h2 {
        //     @include font-style-mb(2.4rem,3.12rem);
        // }
        &__contentBlock:nth-child(2) {
            order: 3;
        }
        &__contentBlock:nth-child(3) {
            order: 2;
        }
        &__links {
            flex-direction: column;
            align-items: center;
        }
        &__links .block-link {
            width: 100%;
            max-width: 49.92rem;
        }
        &__links .block-link .img-cover {
            @include size(100%,33.6rem);
           background-size: 100% 100% !important;
        }
        &__links a {
            top: 24.7rem;
        }
    }
    .section03 {
        &__inner {
            flex-direction: column;
            align-items: center;
            gap: 2.4rem;
        }
        &__inner .img-cover {
            margin-right: 0;
        }
        &__content {
            text-align: center;
        }
    }
    .section04 {
        &__search {
            width: 91.1%;
        }
    }
    .section {
        &__block {
            padding: 5.6rem 2.4rem;
        }
        &__block#rental{
            flex-direction: column;
            padding: 0;
            gap: 0
        }
        &__block#hoa {
            flex-direction: column-reverse;
            padding: 0;
            gap: 0
        }
        &__block#rental .image-contain,
        &__block#hoa .image-contain {
            @include size(100%, 103vw);
            border-radius: 0;
            position: relative;
        }
        &__block#rental .image-contain img,
        &__block#hoa .image-contain img {
            @include size(100%);
            object-fit: cover;
            position: relative;
        }
        &__block#rental .image-contain::before ,
        &__block#hoa .image-contain::before {
            content: "";
            position: absolute;
            @include size(100%);
            top: 0;
            left: 0;
            background-color: #000;
            z-index: 2;
            opacity: 30%;
        }
        &__block.contact a {
            width: 100%;
        }
        &__blockContent {
            padding: 2.4rem;
        }
        &__blockSlide .category-slide .slick-slide button {
            width: 12rem;
            padding: 0;
        }
        &__blockSlide .category-slide .slick-slide button img {
            width: 3.2rem;
        }
        &__blockSlide .category-slide .slick-slide button p {
           font-size: 1.2rem;
        }
        &__blockSlide button.slick-arrow {
            @include size(4rem);
        }
        .slide-info {
            padding: 8.8rem 2.4rem 2.4rem;
            flex-direction: column;
            width: 100%;
            box-sizing: border-box;
            row-gap: 4rem;
        }
        .slide-info .image-contain {
            width: 100%;
        }
        .slide-info .image-contain img {
            width: 100%;
        }
    }
    .section05 {
        h1 {
            font-size: 3.2rem;
        }
    }
    .section06 {
        &__inner {
            padding: 1.6rem;
        }
        &__tabs {
            padding: 1.6rem 0;
        }
        &__tabs .c-tabs_nav {
            gap: 1.6rem;
        }
        &__tabs .c-tabs_nav button {
            font-size: 1.6rem;
            line-height: 2.4rem;
            padding: 0 1.2rem;
        }
        &__tabs .c-accordion .c-accordion_item {
            padding: 1.6rem;
        }
        &__tabs .c-accordion .c-accordion_item summary {
            font-size: 1.6rem;
            line-height: 2.4rem;
            padding-right: 1.5rem;
        }
        &__tabs .c-accordion .c-accordion_item summary::before {
            @include size(1.6rem,.9rem);
        }
        &__tabs .c-accordion .c-accordion_item p {
            font-size: 1.2rem;
            line-height: 1.8rem;
        }
    }
    .section08 {
        padding: 3.2rem 0;
        &__blockStaffs {
            flex-direction: column;
        }
        &__blockStaffs a {
            @include size(7.2rem)
        }
        &__blockStaffs a::before {
            left: -3.9rem;
        }
        &__blockStaffs a::after {
            right: -.1rem;
        }
    }
    .section09 {
        &__values {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .section11 {
        padding: 3.2rem 2.4rem;
    }

    .footer {
        padding: 0 0 10rem;
        flex-direction: column-reverse;
        &__block:nth-child(2) {
            width: 100%;
            padding: 6.4rem 4rem;
        }
        &__subContent {
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
        &__subContent > a {
            margin: 0;
            padding: 3.15rem 0;
            border-bottom: solid 1px #d3d7e5;
            width: 100%;
            justify-content: center;
            order: 1;
        }
        &__subContent ul {
            order: 2;
            padding: 3.15rem 0;
            border-bottom: solid 1px #d3d7e5;
            width: 100%;
            justify-content: center;
        }
        &__subContent ul li:last-child {
            margin-right: 0;
        }
        &__subContent p {
            order: 3;
            padding: 2.4rem 0;
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    .section02 {
        &__contentBlock {
            width: 100%;
        }
        &__links .block-link {
            max-width: 31.2rem;
        }
        &__links .block-link .img-cover {
            @include size(100%,21rem);
        }
        &__links a {
            top: 11.7rem;
        }
    }
    .section03 {
        padding: 7.3rem 4.8rem;
        &__inner .img-cover {
            width: 17.1rem;
        }
    }
    .section04 {
        &__search input {
            height: 4rem;
        }
        &__search input::placeholder, ::-webkit-input-placeholder, input {
            @include font-style($poppins-font,1.2rem,400,1.8rem);
            color: #6E6F73;
        }
        &__search button {
            @include size(4rem);
        }
        &__search button img {
            @include size(2.4rem);
        }
    }
    .section {
        &__blockSlide button.slick-arrow {
            @include size(2.8rem);
        }
    }
    .section08 {
        &__inner {
            padding: 0 2.4rem
        }
        &__blockStaffs .staff {
            width: 100%
        }
        &__blockStaffs .image-cover {
            @include size(86.6vw);
        }
        &__blockStaffs a {
            @include size(5.8rem);
            top: 34.1rem;
        }
        &__blockStaffs a::before {
            bottom: 2.5rem;
        }
    }
    .section09 {
        &__values {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .section11 {
        &__inner {
            width: 100%;
        }
        &__contactForm {
            width: 100%;
        }
        &__contactForm .c-form-element {
            flex-direction: column;
        }
        &__contactForm .c-form-group {
            width: 100%;
        }
        &__contactForm .c-form-group textarea {
            width: 100%;
            box-sizing: border-box;
        }
        &__contactForm .c-form-group input {
            width: 100%;
        }
    }
    .footer {
        &__block:nth-child(1) {
            padding: 0 2.4rem;
        }
        &__block:nth-child(2) {
            padding: 6.4rem 2.4rem;
            align-items: flex-start;
        }
        &__block:nth-child(2) h3 {
            width: 100%;
            text-align: center;
        }
        &__mainContent {
            flex-direction: column;
            padding: 2.4rem 0;
            gap: 2.4rem;
        }
        
    }
}